.example-card {
  width: 250px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
}

.mat-card-cvr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-pic {
  margin-top: -10px;
  width: 75%;
  max-height: 75%;
  z-index: 2;
}

.ball {
  width: 80%;
  filter: invert(100%) opacity(10%);
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 1;
}

.name {
  margin-top: -20px;
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

.type {
  background: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  font-weight: 800;
  width: 80px;
  text-align: center;
  transition: all 225ms ease-in-out;
}

.normal {
  background-color: #bbbbaa;
}

.fighting {
  background-color: #bb5544;
}

.flying {
  background-color: #6699ff;
}

.poison {
  background-color: #aa5599;
}

.ground {
  background-color: #ddbb55;
}

.rock {
  background-color: #bbaa66;
}

.bug {
  background-color: #aabb22;
}

.ghost {
  background-color: #6666bb;
}

.steel {
  background-color: #aaaabb;
}

.fire {
  background-color: #f4563a;
}

.water {
  background-color: #3399ff;
}

.grass {
  background-color: #77cc55;
}

.electric {
  background-color: #ffcc33;
}

.psychic {
  background-color: #ff5599;
}

.ice {
  background-color: #83d4ef;
}

.dragon {
  background-color: #7766ee;
}

.dark {
  background-color: #775544;
}

.fairy {
  background-color: #ffaaff;
}

.unknown {
  background-color: #5a7485;
}

.shadow {
  background-color: black;
}
