.example-card {
  width: 250px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
}

.mat-card-cvr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-pic {
  width: 75%;
  max-height: 75%;
  padding-top: 20px;
}

.ball {
  width: 60%;
  filter: invert(100%) opacity(10%);
  position: absolute;
  top: -20px;
  right: -20px;
}

.name {
  margin-top: -35px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

.type {
  background: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  font-weight: 800;
  width: 80px;
  text-align: center;
  transition: all 225ms ease-in-out;
}

.normal {
  background-color: #bbbbaa;
}

.fighting {
  background-color: #bb5544;
}

.flying {
    background-color: #6699FF;
}

.poison {
    background-color: #AA5599;
}

.ground {
    background-color: #DDBB55;
}

.rock {
    background-color: #BBAA66;
}

.bug {
    background-color: #AABB22;
}

.ghost {
    background-color: #6666BB;
}

.steel {
    background-color: #AAAABB;
}

.fire {
  background-color: #F4563A;
}

.water {
    background-color: #3399FF;
}

.grass {
  background-color: #77CC55;
}

.electric {
    background-color: #FFCC33;
}

.psychic {
    background-color: #FF5599;
}

.ice {
    background-color: #83D4EF;
}

.dragon {
    background-color: #7766EE;
}

.dark {
    background-color: #775544;
}

.fairy {
    background-color: #FFAAFF;
}

.unknown {
    background-color: #5a7485;
}

.shadow {
    background-color: black;
}